.block{
  height: 100%;
  width: 100%;
}
.subBlock{
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.image{
  max-height: 60%;
  max-width: 100%;
}
.imageContainer{
  max-width: 80%;
  max-height: 65%;
  margin: 0 auto;
}
.metaContainer{
  max-width: 90%;
  margin: 0 auto;
}

.imageContainer img{
  max-width: 100%;
  max-height: 60vh;
}

.arrowLeftContainer{
  position: absolute;
  top: 50%;
  left: 0;
}

.arrowRightContainer{
  position: absolute;
  top: 45%;
  right: 0;
}
